/*============================================
 * Skinny Mobile Stylesheet (320px- 699px)
 * Project:  North American
 * Table of Contents
 *  ^Typography
 *  ^Layout
 *  ^Header
 *  ^Primary Nav
 *  ^Footer Nav
 *  ^Sidebar
 *  ^Breadcrumbs
 *  ^Footer 
 *  ^Form Elements 
 * ============================================ */
/* ^Typography ===================================== */
h1, .h1 {
  color: #c8000e;
  font: 25px/30px "Univers 55", Arial, sans-serif;
  letter-spacing: -1px;
  margin: 0 0 11px; }

h2, .h2 {
  color: #c8000e;
  font: 20px/25px "Univers 45", Arial, sans-serif;
  letter-spacing: -1px;
  margin: 30px 0 11px; }

h3, .h3 {
  color: #c8000e;
  font: 18px/20px "Univers 45", Arial, sans-serif;
  margin: 16px 0 11px; }

h4, .h4 {
  color: #c8000e;
  font: 16px/25px "Univers 45", Arial, sans-serif;
  margin: 0 0 11px; }

h5, .h5 {
  color: #36322f;
  font: 14px/22px "Univers 55", Arial, sans-serif;
  margin: 16px 0 11px; }

h6, .h6 {
  color: #36322f;
  font: 14px/22px "Univers 55", Arial, sans-serif;
  margin: 0 0 0 0; }

.page-title {
  font: 25px/30px "Univers 45", Arial, sans-serif; }

p.intro {
  font: 15px/22px "Univers 45", Arial, sans-serif;
  padding-bottom: 15px; }

/* ^layout ===================================== */
.primary-copy {
  padding: 30px 0 0 0;
  right: 0;
  width: 100%; }

.mobile-hidden {
  display: none !important; }

.container {
  padding-left: 15px;
  padding-right: 15px; }

/* ^Header ===================================== */
.site-header {
  height: 60px; }
  .site-header .container {
    padding: 0; }

.logo {
  left: 10px;
  height: 65px;
  width: 115px; }

a.phone {
  height: 47px;
  line-height: 40px;
  padding: 0 15px 0 155px;
  left: 5px; }
  a.phone:after {
    background: url(../images/icon-phone-2x.png) 0 0 no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 24px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
    left: 130px;
    width: 24px; }

/* ^Primary Nav ===================================== */
.primary-nav-toggle {
  -moz-transition: background 0.15s, color 0.15s;
  -ms-transition: background 0.15s, color 0.15s;
  -webkit-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
  border: none;
  border-left: solid 1px #004468;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1);
  display: block;
  float: right;
  height: 40px;
  padding: 10px;
  position: relative;
  top: 20px;
  right: 0;
  width: 45px;
  z-index: 3; }
  .primary-nav-toggle:hover {
    background: #00669b; }
  .primary-nav-toggle:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    top: 20px; }
  .primary-nav-toggle i,
  .primary-nav-toggle i:before,
  .primary-nav-toggle i:after {
    background: #aad8f0;
    border-radius: 4px;
    content: "";
    display: block;
    height: 4px;
    position: relative;
    top: -1px;
    width: 100%; }
  .primary-nav-toggle i:before {
    top: 9px; }
  .primary-nav-toggle i:after {
    top: 14px; }

.primary-nav-item {
  display: none;
  float: none;
  width: 100%; }

.primary-nav-search .primary-nav-link {
  display: none !important; }
.primary-nav-search .primary-nav-search-box {
  border: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
  display: block;
  position: relative;
  right: auto;
  top: auto;
  width: 100%; }

.primary-nav-active {
  box-shadow: none;
  border: none; }
  .primary-nav-active .primary-nav-toggle {
    background: #004468;
    box-shadow: inset 1px 0 1px -1px rgba(0, 0, 0, 0.4);
    top: 21px; }
    .primary-nav-active .primary-nav-toggle i {
      background: none;
      font-style: normal; }
      .primary-nav-active .primary-nav-toggle i:before, .primary-nav-active .primary-nav-toggle i:after {
        background: none; }
      .primary-nav-active .primary-nav-toggle i:before {
        color: white;
        content: "\00d7";
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        text-align: center;
        top: -3px;
        left: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  .primary-nav-active .primary-nav {
    background: #004468;
    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 white;
    border-top: solid 1px #002335;
    padding: 15px 0 0 0;
    width: 100%; }
  .primary-nav-active .primary-nav-item,
  .primary-nav-active .primary-nav-search {
    background: none;
    border: none;
    border-top: solid 1px #00344e;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
    display: block;
    padding: 0;
    position: relative;
    right: auto;
    top: auto; }
    .primary-nav-active .primary-nav-item .primary-nav-link,
    .primary-nav-active .primary-nav-search .primary-nav-link {
      box-shadow: none;
      border: none;
      height: auto;
      line-heght: 24px;
      padding: 15px;
      position: relative;
      text-align: left; }
      .primary-nav-active .primary-nav-item .primary-nav-link:after,
      .primary-nav-active .primary-nav-search .primary-nav-link:after {
        content: "›";
        display: block;
        float: right;
        font: 26px/26px "Univers 45", "Arial", sans-serif;
        margin-top: -10px;
        position: absolute;
        right: 18px;
        top: 15px; }
  .primary-nav-active .primary-nav-item-active {
    background: #003e5e;
    border-top: solid 1px #00344e;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.05); }
    .primary-nav-active .primary-nav-item-active .primary-nav-link {
      background: none; }

/* ^Secondary Nav ===================================== */
.secondary-nav {
  position: relative;
  left: 0;
  padding: 15px 0 0 0;
  width: 100%; }

/* ^Footer Nav ===================================== */
.footer-nav {
  -moz-column-count: 1;
  -moz-column-gap: 22px;
  -webkit-column-count: 1;
  -webkit-column-gap: 22px;
  column-count: 1;
  column-gap: 22px; }

.footer-nav-group {
  padding: 15px 0 0 0; }

/* ^Sidebar ===================================== */
.sidebar {
  display: none; }

.content-sidebar {
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  column-count: 1;
  column-gap: 10px;
  display: block;
  right: 0;
  padding: 30px 0 0 0;
  width: 100%; }

.box-shadow {
  width: 100%; }

.social-box {
  display: none; }

/* ^Breadcrumbs ===================================== */
.breadcrumbs {
  height: 0;
  overflow: hidden;
  padding-top: 30px; }

/* ^Breadcrumbs ===================================== */
.site-footer .footer-secondary {
  margin-bottom: 0;
  margin-top: 10px; }

/* ^Form Elements ===================================== */
.interior-form .input-label {
  float: none;
  padding: 10px 0 0 0;
  width: 100%; }
  .interior-form .input-label:first-child {
    padding-top: 0; }
.interior-form .btn {
  float: left;
  text-align: center;
  margin: 20px 0 0 0;
  position: relative;
  top: 0;
  width: 100%; }
  .interior-form .btn:active {
    top: 1px; }
