/*Reset ===================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, select, input, textarea {
  color: #444444; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Form Styles ===================================== */
::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0;
  position: relative;
  vertical-align: top;
  top: 4px;
  top: 0 \0;
  *top: -3px; }

@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px; } }
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  -moz-box-shadow: #0066ff 0 0 7px 0;
  -webkit-box-shadow: #0066ff 0 0 7px 0;
  -o-box-shadow: #0066ff 0 0 7px 0;
  box-shadow: #0066ff 0 0 7px 0;
  z-index: 1; }

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd url("../images/button.png") repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(white, #dddddd);
  background-image: -moz-linear-gradient(white, #dddddd);
  background-image: -o-linear-gradient(white, #dddddd);
  background-image: -ms-linear-gradient(white, #dddddd);
  background-image: linear-gradient(white, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  position: relative;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: -ms-linear-gradient(white, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(white, #eeeeee 1px, #cccccc); }

button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: -ms-linear-gradient(white, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(white, #dddddd 1px, #eeeeee);
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -o-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
  top: 1px; }

button {
  *padding-top: 1px;
  *padding-bottom: 1px; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee; }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default; }

::-webkit-input-placeholder {
  color: #888888; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888; }

input.placeholder_text,
textarea.placeholder_text {
  color: #888888; }

textarea,
select[size],
select[multiple] {
  height: auto; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url("../images/select_arrow.gif");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0; }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px; }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0; } }
textarea {
  min-height: 100px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal; }

fieldset {
  border-bottom: solid 1px #e6e6e6;
  display: block;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0; }

label {
  display: block;
  margin: 2px 0 4px 0; }

.feedback {
  border: 1px solid #cde335;
  padding: 20px;
  background-color: #f5fbcc; }

.error {
  background-color: #fad1d1;
  border-color: #f38383; }

/*Fonts ===================================== */
@font-face {
  font-family: "DINMedium";
  src: url("../fonts/dinm____-webfont.eot");
  src: local("☺"), url("../fonts/dinm____-webfont.woff") format("woff"), url("../fonts/dinm____-webfont.ttf") format("truetype"), url("../fonts/dinm____-webfont.svg#webfontKKSxH0oc") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DINBold";
  src: url("../fonts/dinb____-webfont.eot");
  src: local("☺"), url("../fonts/dinb____-webfont.woff") format("woff"), url("../fonts/dinb____-webfont.ttf") format("truetype"), url("../fonts/dinb____-webfont.svg#webfontsTqXuOUW") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DIN";
  src: url("../fonts/dinr____-webfont.eot");
  src: local("☺"), url("../fonts/dinr____-webfont.woff") format("woff"), url("../fonts/dinr____-webfont.ttf") format("truetype"), url("../fonts/dinr____-webfont.svg#webfonttPN48fpi") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Typography ===================================== */
body {
  font: 16px/22px "DIN", serif; }

a {
  -moz-transition: border 0.15s, color 0.15s;
  -ms-transition: border 0.15s, color 0.15s;
  -webkit-transition: border 0.15s, color 0.15s;
  transition: border 0.15s, color 0.15s;
  border-bottom: solid 1px;
  color: #006699;
  cursor: pointer;
  position: relative;
  text-decoration: none; }
  a:hover {
    border-bottom: solid 1px rgba(255, 255, 255, 0);
    color: #222222; }
    .no-rgba a:hover {
      border: none; }
  a:active {
    top: 1px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  color: #a33b00;
  font: 26px/28px "DIN", serif;
  margin: 0 0 11px; }

h2 {
  color: #a33b00;
  font: 23px/25px "DIN", serif;
  margin: 30px 0 11px; }

h3 {
  font: 20px/22px "DIN", serif;
  margin: 16px 0 11px; }

h4 {
  color: #a33b00;
  font: 16px/22px "DINMedium", serif;
  text-transform: uppercase;
  margin: 11px 0 11px; }

h5 {
  color: #a33b00;
  font: 14px/22px "DINMedium", serif;
  text-transform: uppercase;
  margin: 11px 0 11px; }

h6 {
  color: #36322f;
  font: 16px/22px "DIN", serif;
  margin: 0 0 11px 0; }

strong {
  color: #222222; }

em, q {
  color: #222222;
  font-style: italic; }

p {
  margin: 0 0 22px 0; }
  p:last-child {
    margin-bottom: 0; }

ul, ol {
  margin: 0 0 20px 0; }
  ul:last-child, ol:last-child {
    margin-bottom: 0; }

li {
  margin: 0 0 7px 24px; }
  li ul li {
    list-style: disc; }
  li ol li {
    list-style: decimal; }

/*Layout ===================================== */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  border-top: solid 1px;
  background: #fdfdfd; }

/*Header ===================================== */
.site-header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background: white;
  border-bottom: solid 1px #a33b00;
  display: block;
  left: 0;
  padding: 11px 0 11px 5px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }
  .site-header .logo {
    background: url(../images/allied-logo.png) center center no-repeat;
    border: none;
    display: block;
    float: left;
    height: 22px;
    text-indent: 100%;
    white-space: nowrap;
    width: 130px;
    overflow: hidden; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .site-header .logo {
        -moz-background-size: 125px 22px;
        -ms-background-size: 125px 22px;
        -webkit-background-size: 125px 22px;
        background-size: 125px 22px;
        background-image: url(../images/allied-logo-2x.png); } }
  .site-header .nav-toggle {
    background-color: #f58025;
    background-image: -moz-linear-gradient(top, #f58025, #a33b00);
    background-image: -ms-linear-gradient(top, #f58025, #a33b00);
    background-image: -webkit-linear-gradient(top, #f58025, #a33b00);
    background-image: linear-gradient(top, #f58025, #a33b00);
    border: solid 1px #a33b00;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.25);
    display: block;
    height: 46px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 44px; }
    .site-header .nav-toggle i,
    .site-header .nav-toggle i:before,
    .site-header .nav-toggle i:after {
      background: white;
      border-radius: 100px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      content: "";
      display: block;
      float: left;
      height: 4px;
      position: absolute;
      width: 25px; }
    .site-header .nav-toggle i {
      left: 8px;
      top: 9px; }
      .site-header .nav-toggle i:before {
        top: 8px; }
      .site-header .nav-toggle i:after {
        top: 16px; }
  .site-header .call {
    background-color: white;
    background-image: -moz-linear-gradient(top, white 5%, #f5f5f5);
    background-image: -ms-linear-gradient(top, white 5%, #f5f5f5);
    background-image: -webkit-linear-gradient(top, white 5%, #f5f5f5);
    background-image: linear-gradient(top, white 5%, #f5f5f5);
    border: solid 1px #d7d6d5;
    border-radius: 100px;
    display: block;
    font-family: "DINMedium", Arial, sans-serif;
    float: left;
    overflow: hidden;
    padding: 5px 12px 1px 31px;
    position: absolute;
    right: 55px;
    text-shadow: 0 1px 0 white;
    top: 8px; }
    .site-header .call i {
      background: url(../images/icon-phone.png) center center no-repeat;
      display: block;
      height: 20px;
      left: 7px;
      position: absolute;
      top: 4px;
      width: 20px; }
      @media screen and (-webkit-min-device-pixel-ratio: 2) {
        .site-header .call i {
          -moz-background-size: 16px 16px;
          -ms-background-size: 16px 16px;
          -webkit-background-size: 16px 16px;
          background-size: 16px 16px;
          background-image: url(../images/icon-phone-2x.png); } }

/*Nav ===================================== */
nav {
  background-color: #f58025;
  background-image: -moz-linear-gradient(top, #f58025, #a33b00 11px);
  background-image: -ms-linear-gradient(top, #f58025, #a33b00 11px);
  background-image: -webkit-linear-gradient(top, #f58025, #a33b00 11px);
  background-image: linear-gradient(top, #f58025, #a33b00 11px);
  border-bottom: solid 1px #a33b00;
  box-shadow: 0 1px 0 white;
  height: 55px;
  position: relative;
  width: 100%;
  z-index: 1; }

/*Breadcrumbs ===================================== */
.breadcrumbs {
  background: #f5f5f5;
  border-bottom: solid 1px #d7d6d5;
  box-shadow: 0 1px 0 white, inset 0 -1px 2px rgba(0, 0, 0, 0.05);
  font: 12px/12px "DINMedium", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  overflow: hidden;
  padding: 13px 22px 9px;
  text-shadow: 0 1px 0 white; }
  .breadcrumbs a, .breadcrumbs span {
    border: none;
    display: block;
    float: left;
    margin-left: 28px;
    position: relative; }
    .breadcrumbs a:first-child, .breadcrumbs span:first-child {
      margin-left: 0; }
      .breadcrumbs a:first-child:before, .breadcrumbs span:first-child:before {
        display: none; }
    .breadcrumbs a:before, .breadcrumbs span:before {
      content: ">";
      display: block;
      left: -20px;
      position: absolute;
      top: 0; }
  .breadcrumbs .breadcrumb-home {
    height: 16px;
    text-indent: 100%;
    overflow: hidden;
    position: relative;
    top: -3px;
    white-space: nowrap;
    width: 16px; }
  .breadcrumbs a.breadcrumb-home {
    background: url(../images/icon-home-link.png) center center no-repeat; }
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
      .breadcrumbs a.breadcrumb-home {
        -moz-background-size: 16px 16px;
        -ms-background-size: 16px 16px;
        -webkit-background-size: 16px 16px;
        background-size: 16px 16px;
        background-image: url(../images/icon-home-link-2x.png); } }

/*Main Content ===================================== */
.main-content {
  padding-top: 62px;
  position: relative; }
  .main-content img {
    float: left;
    height: auto;
    max-width: 100%; }
  .main-content .content {
    float: left;
    padding: 22px;
    width: 100%; }

/*Main Content Sidebar ===================================== */
.content-sidebar {
  background: #36322f url(../images/bg-dark-noise.png) repeat;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 0 3px rgba(0, 0, 0, 0.5);
  float: left;
  position: absolute;
  top: 0;
  width: 100%; }
  .content-sidebar .btn {
    background-color: #006699;
    background-image: -moz-linear-gradient(top, #006699, #004466);
    background-image: -ms-linear-gradient(top, #006699, #004466);
    background-image: -webkit-linear-gradient(top, #006699, #004466);
    background-image: linear-gradient(top, #006699, #004466);
    border-radius: 100px;
    border: solid 1px #002233;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    color: white;
    font-family: "DINMedium", "Arial", sans-serif;
    display: block;
    padding: 8px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.widget {
  border-bottom: solid 1px black;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.06);
  padding: 11px 22px; }
  .widget:last-child {
    border-bottom: none;
    box-shadow: none; }

.widget-primary {
  background: rgba(0, 0, 0, 0.15); }

/*Main Content Footer ===================================== */
.content-footer {
  background: #ebebea url(../images/bg-light-noise.png);
  border-top: solid 1px #d7d6d5;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 0 3px rgba(0, 0, 0, 0.15);
  float: left;
  text-shadow: 0 1px 0 white;
  width: 100%; }
  .content-footer a.section-link {
    background-color: rgba(255, 255, 255, 0);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.5));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.5));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.5));
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.5));
    border: solid 1px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.04);
    border: solid 1px #dadad8;
    color: #5e5b59;
    font: 13px/13px "DINMedium", "Arial", sans-serif;
    margin: 11px 11px 3px 11px;
    padding: 13px 11px 9px;
    text-transform: uppercase; }
    .content-footer a.section-link:after {
      display: none; }
  .content-footer a {
    border-bottom: solid 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    display: block;
    padding: 11px 22px;
    position: relative;
    width: auto; }
    .content-footer a:after {
      content: ">";
      display: block;
      font-family: "DINBold", "Arial", sans-serif;
      height: 100%;
      padding: 11px 0;
      position: absolute;
      right: 22px;
      top: 0; }
    .content-footer a.active {
      background: rgba(255, 255, 255, 0.5);
      color: #36322f;
      font-family: "DINBold", "Arial", sans-serif; }
