/*============================================
 * Master Stylesheet
 * Project:  North American
 * Table of Contents
 *  ^Layout
 *  ^Header
 *  ^Primary Nav
 *  ^Secondary Nav
 *  ^Tertiary Nav
 *  ^Footer Nav
 *  ^Breadcrumbs
 *  ^Sidebar
 *  ^Icons
 *  ^Footer
 *  ^Home page
 * ============================================ */
/* ^Layout ===================================== */
.cf, .texture-background, .white-background {
  zoom: 1; }
  .cf:before, .texture-background:before, .white-background:before, .cf:after, .texture-background:after, .white-background:after {
    content: "";
    display: table; }
  .cf:after, .texture-background:after, .white-background:after {
    clear: both; }

body {
  background: #00669b; }

.container {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 1000px; }
  @media screen and (min-width: 1220px) {
    .container {
      width: 1160px; } }

.picture-background {
  background: white;
  box-shadow: 0 1px 0 white;
  border-bottom: solid 1px #dddcdc;
  overflow: hidden;
  padding: 80px 0 40px;
  position: relative; }
  .picture-background .bg {
    bottom: 0;
    height: 100%;
    margin: 0;
    max-width: auto;
    position: absolute;
    right: 0;
    width: auto; }

.texture-background {
  background: #f2f2f2 url(../images/bg-body.jpg) repeat; }

.white-background {
  background: white; }

.primary-content {
  border-bottom: solid 1px #dddcdc;
  border-top: solid 1px #dddcdc;
  position: relative; }

.primary-copy {
  float: right;
  padding: 60px 0;
  position: relative;
  right: 26.5%;
  width: 47%; }

.page-header {
  float: left;
  width: 72%; }

/* ^Header ===================================== */
/* Blue bar */
.site-header {
  background-color: #004d77;
  background-image: -moz-linear-gradient(top, #005b8b, #004d77);
  background-image: -ms-linear-gradient(top, #005b8b, #004d77);
  background-image: -webkit-linear-gradient(top, #005b8b, #004d77);
  background-image: linear-gradient(top, #005b8b, #004d77);
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3);
  border-bottom: solid 1px #004468;
  height: 80px;
  /* White bar */
  /* Red bar */ }
  .site-header .container {
    padding-right: 0; }
  .site-header:after {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: 0;
    width: 100%; }
    .no-boxshadow .site-header:after {
      border-bottom: solid 1px #d7d6d5; }
  .site-header:before {
    background: #ff1a1a;
    border-bottom: solid 1px #660000;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%; }
  .site-header .container {
    position: relative;
    z-index: 1; }

.logo {
  -moz-transition: box-shadow 0.15s;
  -ms-transition: box-shadow 0.15s;
  -webkit-transition: box-shadow 0.15s;
  transition: box-shadow 0.15s;
  background: white;
  border: none;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: block;
  height: 85px;
  left: -15px;
  padding: 0 20px;
  position: absolute;
  top: 10px;
  width: 175px;
  z-index: 1; }
  .logo img {
    box-shadow: none;
    height: auto;
    position: relative;
    width: 100%; }
  .logo:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
    border: none; }
  .logo:active {
    top: 10px; }
    .logo:active img {
      top: 1px; }
  .no-boxshadow .logo {
    border: solid 1px #d7d6d5;
    border-top: none;
    top: 9px; }
    .no-boxshadow .logo:hover {
      border: solid 1px #c3c2c1;
      border-top: none; }

a.phone {
  background-color: #ff1a1a;
  background-image: -moz-linear-gradient(top, #ff1a1a, #cc0000);
  background-image: -ms-linear-gradient(top, #ff1a1a, #cc0000);
  background-image: -webkit-linear-gradient(top, #ff1a1a, #cc0000);
  background-image: linear-gradient(top, #ff1a1a, #cc0000);
  border-radius: 0 0 2px 2px;
  border: solid 1px #660000;
  border-top: none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: default;
  font: 22px/40px "Univers 45", "Arial", sans-serif;
  left: -30px;
  height: 45px;
  padding: 0 15px 0 205px;
  position: absolute;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  top: 19px; }
  a.phone:hover {
    border: solid 1px #660000;
    border-top: none;
    color: white; }
  a.phone:active {
    line-height: 42px;
    top: 19px; }
  a.phone strong {
    color: white;
    font: normal 22px/40px "Univers 55", "Arial", sans-serif; }

/* ^Primary Nav ===================================== */
.primary-nav {
  border-right: solid 1px #004468;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05);
  list-style: none;
  margin-top: 20px;
  padding: 0 55px 0 470px;
  position: relative;
  float: right;
  width: 100%; }

.primary-nav-item {
  border-left: solid 1px #004468;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1);
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 33.33333%; }

.primary-nav-link {
  -moz-transition: background 0.15s, color 0.15s;
  -ms-transition: background 0.15s, color 0.15s;
  -webkit-transition: background 0.15s, color 0.15s;
  transition: background 0.15s, color 0.15s;
  border: none;
  color: #e7f7ff;
  display: block;
  font-size: 15px;
  line-height: 18px;
  height: 60px;
  padding: 20px 5%;
  text-align: center;
  top: 0; }
  .primary-nav-link:hover {
    background: #00669b;
    color: white; }
  .primary-nav-link:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
    color: white;
    padding-top: 21px;
    padding-bottom: 19px;
    top: 0; }

.primary-nav-item-active .primary-nav-link {
  background: #004468;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  color: white; }

.primary-nav-toggle {
  display: none; }

.primary-nav-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 55px; }
  .primary-nav-search .primary-nav-link {
    overflow: hidden;
    position: relative;
    text-indent: 200%;
    white-space: nowrap;
    width: 100%;
    z-index: 2; }
    .primary-nav-search .primary-nav-link i {
      background: url(../images/sprite.png) -171px -18px no-repeat;
      display: block;
      height: 18px;
      left: 50%;
      margin: -9px 0 0 -10px;
      position: absolute;
      top: 50%;
      width: 20px; }
      .backgroundsize .primary-nav-search .primary-nav-link i {
        -moz-background-size: 683px 54px;
        -ms-background-size: 683px 54px;
        -webkit-background-size: 683px 54px;
        background-size: 683px 54px;
        background-image: url(../images/sprite-2x.png); }
    .primary-nav-search .primary-nav-link:hover i {
      background-position: -199px -18px; }
    .primary-nav-search .primary-nav-link:active i {
      margin-top: -8px; }
  .primary-nav-search .toggled {
    background: #00669b;
    box-shadow: 0 -1px 3px -1 rgba(0, 0, 0, 0.25); }
  .primary-nav-search .toggled + .primary-nav-search-box {
    display: block; }

.primary-nav-search-box {
  background: #00669b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border: solid 1px #004468;
  display: none;
  top: 90%;
  overflow: hidden;
  padding: 15px;
  position: absolute;
  right: -1px;
  width: 300px; }
  .primary-nav-search-box .search-input {
    float: left;
    width: 75%; }
  .primary-nav-search-box .btn-search {
    float: right;
    text-align: center;
    width: 20%; }

/* ^Secondary Nav ===================================== */
.secondary-nav {
  border-bottom: solid 1px #dddcdc;
  float: left;
  font: 15px/20px "Univers 45", "Arial", sans-serif;
  list-style: none;
  padding-top: 43px;
  width: 22%; }

.secondary-nav-item {
  list-style: none;
  margin: 0;
  padding: 0; }

.secondary-nav-link {
  -moz-transition: color 0.15s, background 0.15s;
  -ms-transition: color 0.15s, background 0.15s;
  -webkit-transition: color 0.15s, background 0.15s;
  transition: color 0.15s, background 0.15s;
  border: none;
  border-top: solid 1px #dddcdc;
  display: block;
  padding: 15px; }
  .secondary-nav-link:hover {
    background: #f2f2f2;
    border: none;
    border-top: solid 1px #dddcdc; }

.secondary-nav-item-active {
  background: #f2f2f2;
  border-top: solid 1px white;
  text-shadow: 0 1px 0 white; }
  .secondary-nav-item-active .secondary-nav-link {
    color: #c8000e;
    font-family: "Univers 55"; }

/* ^Tertiary Nav ===================================== */
.tertiary-nav {
  padding: 0 0 15px 0;
  list-style: none; }

.tertiary-nav-item {
  list-style: none;
  margin: 0;
  padding: 0; }

.tertiary-nav-link {
  -moz-transition: color 0.15s, background 0.15s;
  -ms-transition: color 0.15s, background 0.15s;
  -webkit-transition: color 0.15s, background 0.15s;
  transition: color 0.15s, background 0.15s;
  border: none;
  display: block;
  font-size: 14px;
  padding: 5px 15px 5px 30px; }
  .tertiary-nav-link:hover {
    background: white;
    border-bottom: none; }

.tertiary-nav-item-active .tertiary-nav-link {
  color: #c8000e;
  font-family: "Univers 55"; }

/* ^Footer Nav ===================================== */
.footer-nav {
  float: left;
  width: 72%; }

.footer-nav-group {
  float: left;
  list-style: none;
  padding: 15px 0;
  width: 25%; }

.footer-nav-title {
  color: #9bddff;
  font: 13px/15px "Univers 55", "Arial", sans-serif;
  list-style: none;
  margin: 0;
  padding: 10px 30px; }

.footer-nav-item {
  list-style: none;
  margin: 0;
  padding: 0 15px; }

.footer-nav-link {
  -moz-transition: background 0.15s;
  -ms-transition: background 0.15s;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
  background: #00669b;
  border-top: solid 1px #005987;
  border-bottom: none;
  box-shadow: inset 0 1px #0073af;
  color: white;
  display: block;
  font-size: 14px;
  padding: 10px 30px 10px 15px;
  position: relative; }
  .footer-nav-link:hover {
    background: #005f91;
    border-bottom: none;
    color: white; }
  .footer-nav-link:active {
    background: #005987; }
  .footer-nav-link:after {
    content: "›";
    display: block;
    float: right;
    font: 26px/26px "Univers 45", "Arial", sans-serif;
    margin-top: -10px;
    position: absolute;
    right: 15px;
    top: 15px; }
  .no-boxshadow .footer-nav-link:before {
    background: #0073af;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

/* ^Breadcrumbs ===================================== */
.breadcrumbs {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 40px 0 0 0;
  overflow: hidden;
  text-shadow: 0 1px 0 white; }
  .oldie .breadcrumbs {
    margin-top: 15px; }

.breadcrumb-item {
  display: inline;
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 8px; }
  .breadcrumb-item:before {
    color: #9b9997;
    content: "/";
    display: inline;
    margin-right: 10px; }
  .breadcrumb-item:first-child {
    padding-left: 0; }
    .breadcrumb-item:first-child:before {
      display: none; }

.breadcrumb-link {
  border: none;
  color: #9b9997; }
  .breadcrumb-link:hover {
    border-bottom: solid 1px;
    color: #00669b; }

.breadcrumb-item-end {
  color: #4a4744; }

/* ^Sidebar ===================================== */
.sidebar {
  float: right;
  position: absolute;
  right: 0;
  top: 47px;
  width: 22%; }

.box {
  background-color: white;
  background-image: -moz-linear-gradient(top, white 50%, #f9f9f9);
  background-image: -ms-linear-gradient(top, white 50%, #f9f9f9);
  background-image: -webkit-linear-gradient(top, white 50%, #f9f9f9);
  background-image: linear-gradient(top, white 50%, #f9f9f9);
  border: solid 1px #d7d6d5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  width: 100%; }
  .box:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.box-title {
  color: #c8000e;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 15px 0;
  padding: 0; }

.box-body {
  padding: 15px; }

.testimonial-box {
  padding: 15px; }
  .testimonial-box p {
    font-size: 13px; }
  .testimonial-box cite {
    font-size: 13px;
    font-style: normal; }

.testimonial-body {
  font: italic 13px/20px "Georgia", serif;
  margin: 0 0 10px 0; }

.banner-box {
  padding: 0; }

.banner-title {
  background: #ff3333;
  color: white;
  padding: 10px 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

a.banner-link {
  border: none;
  display: block; }
  a.banner-link img {
    box-shadow: none;
    float: left;
    margin: 0;
    padding: 0; }

.social-box {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.5);
  float: right;
  opacity: 0.9;
  padding: 10px; }

.box-phone p {
  margin: 0 0 10px 0; }

.box-phone-title {
  margin: 0; }

/* ^Icons ===================================== */
.icon {
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  background: url(../images/sprite.png) 0 0 no-repeat;
  border: none;
  display: block;
  float: left;
  height: 30px;
  margin: 8px;
  opacity: 0.9;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 30px; }
  .backgroundsize .icon {
    -moz-background-size: 683px 54px;
    -ms-background-size: 683px 54px;
    -webkit-background-size: 683px 54px;
    background-size: 683px 54px;
    background-image: url(../images/sprite-2x.png); }
  .icon:hover {
    opacity: 1; }

.icon-pintrest {
  background-position: -561px -13px; }

.icon-facebook {
  background-position: -598px -13px; }

.icon-youtube {
  background-position: -414px -13px; }

.icon-linkedin {
  background-position: -378px -13px; }

.icon-rss {
  background-position: -451px -13px; }

.icon-google {
  background-position: -525px -13px; }

.icon-twitter {
  background-position: -488px -13px; }

.badges {
  margin: 0;
  padding: 15px 0 0 0; }

.badge-item {
  background: url(../images/sprite.png) 0 0 no-repeat;
  display: block;
  float: left;
  height: 50px;
  overflow: hidden;
  margin: 0 10px 0 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  width: 60px; }
  .backgroundsize .badge-item {
    -moz-background-size: 683px 54px;
    -ms-background-size: 683px 54px;
    -webkit-background-size: 683px 54px;
    background-size: 683px 54px;
    background-image: url(../images/sprite-2x.png); }

.badge-amsa {
  background-position: -2px 0; }

.badge-promover {
  background-position: -62px 0; }

.badge-bbb {
  background-position: -132px 0;
  width: 30px; }

/*^Footer ===================================== */
.secondary-phone {
  position: relative; }
  .secondary-phone:after {
    background-color: #ff1a1a;
    background-image: -moz-linear-gradient(top, #ff1a1a, #cc0000);
    background-image: -ms-linear-gradient(top, #ff1a1a, #cc0000);
    background-image: -webkit-linear-gradient(top, #ff1a1a, #cc0000);
    background-image: linear-gradient(top, #ff1a1a, #cc0000);
    border-top: solid 1px #cc0000;
    box-shadow: 0 -1px 0 white;
    bottom: 0;
    content: "";
    display: block;
    height: 15px;
    left: 0;
    right: 0;
    width: 100%; }

.secondary-phone-text {
  color: #5e5b59;
  font: 16px/22px "Univers 45", "Arial", sans-serif;
  padding: 30px 0;
  text-shadow: 0 1px 0 white;
  text-align: center; }
  .secondary-phone-text a {
    color: #00669b;
    font-family: "Univers 55", "Arial", sans-serif;
    font-weight: normal; }

.site-footer {
  border-top: solid 1px #990000;
  border-bottom: solid 1px #005987;
  box-shadow: 0 1px 0 #0073af;
  color: #ceeeff;
  overflow: hidden;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); }
  .site-footer .footer-secondary {
    float: right;
    font-size: 13px;
    line-height: 18px;
    padding: 22px 0 30px 30px;
    position: relative;
    width: 22%; }
    .site-footer .footer-secondary * {
      position: relative;
      z-index: 2; }
    .site-footer .footer-secondary a {
      border: none;
      color: #9bddff;
      display: inline-block;
      margin-right: 100%;
      margin-bottom: 4px; }
      .site-footer .footer-secondary a:hover {
        color: white; }
    .site-footer .footer-secondary:after {
      background: #004468;
      border-left: solid 1px #0073af;
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
      content: "";
      display: block;
      height: 300%;
      position: absolute;
      left: 0;
      top: 0;
      width: 300%;
      z-index: 1; }

/*^Home page ===================================== */
.home-form {
  margin-right: 30px;
  float: left;
  width: 50%; }

.home-banner {
  float: left;
  width: 25%; }
